


 <div >
  
		<div class="col-md-8 col-md-offset-2">
            
			<div class="box">
				 <h1 class="text-center login-title">Register with Heniz</h1>
                  <div class="divider-form"></div>
				<form role="form" ng-submit="saveProfile(profileData);">
                    <div class="row clearfix">
                        <div class="col-md-6">
                             <div class="form-group">
						<label >Your Name</label>
					<input type="text" class="form-control"  placeholder="Enter Your Name" 
					ng-model="profileData.name">
					</div>
                            <div class="divider-form"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
						<label >Company Name</label>
						<input type="text" class="form-control"  placeholder="Enter Company Name" ng-model="profileData.companyname">
					</div>

                            <div class="divider-form"></div>
                        </div>

                         <div class="col-md-6">
                            <div class="form-group">
						<label >Email</label>
						<input type="text" class="form-control"  placeholder="Enter Your Company Email" ng-model="profileData.companyemail">
					</div>
                            <div class="divider-form"></div>
                          

                        </div>
                              <div class="col-md-6">
                            <div class="form-group">
						<label >Mobile No</label>
						<input type="text" class="form-control"  placeholder="Enter Company Mobile" ng-model="profileData.mobile">
					</div>
					
                            <div class="divider-form"></div>
                        </div>
                            
                        </div>

					

					<button type="submit" class="btn btn-success btn-outline-rounded green">Save My Details <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></button>

					
                      
                    </div>
					
                   
                   
					
                 
				</form>
			</div>
		</div>
	</div>